{
    "openapi": "3.0.0",
    "info": {
        "title": "FinAegis Core Banking API",
        "description": "Open Source Core Banking as a Service - A modern, scalable, and secure core banking platform built with Laravel 12, featuring event sourcing, domain-driven design, workflow orchestration, and quantum-resistant security measures.",
        "contact": {
            "name": "FinAegis Support",
            "email": "support@finaegis.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/accounts/{uuid}/balances": {
            "get": {
                "tags": [
                    "Account Balances"
                ],
                "summary": "Get account balances",
                "description": "Retrieve all asset balances for a specific account",
                "operationId": "getAccountBalances",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    },
                    {
                        "name": "asset",
                        "in": "query",
                        "description": "Filter by specific asset code",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    },
                    {
                        "name": "positive",
                        "in": "query",
                        "description": "Only show positive balances",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "account_uuid": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "balances": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "asset_code": {
                                                                "type": "string"
                                                            },
                                                            "balance": {
                                                                "type": "integer"
                                                            },
                                                            "formatted": {
                                                                "type": "string"
                                                            },
                                                            "asset": {
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "symbol": {
                                                                        "type": "string"
                                                                    },
                                                                    "precision": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "summary": {
                                                    "properties": {
                                                        "total_assets": {
                                                            "type": "integer"
                                                        },
                                                        "total_usd_equivalent": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account not found"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "The specified account UUID was not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/balances": {
            "get": {
                "tags": [
                    "Account Balances"
                ],
                "summary": "List all account balances",
                "description": "Get balances across all accounts with filtering and aggregation options",
                "operationId": "listAllBalances",
                "parameters": [
                    {
                        "name": "asset",
                        "in": "query",
                        "description": "Filter by specific asset code",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    },
                    {
                        "name": "min_balance",
                        "in": "query",
                        "description": "Minimum balance filter (in smallest unit)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1000
                        }
                    },
                    {
                        "name": "user_uuid",
                        "in": "query",
                        "description": "Filter by account owner",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "account_uuid": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "asset_code": {
                                                        "type": "string"
                                                    },
                                                    "balance": {
                                                        "type": "integer"
                                                    },
                                                    "formatted": {
                                                        "type": "string"
                                                    },
                                                    "account": {
                                                        "properties": {
                                                            "uuid": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "user_uuid": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total_accounts": {
                                                    "type": "integer"
                                                },
                                                "total_balances": {
                                                    "type": "integer"
                                                },
                                                "asset_totals": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string",
                                                        "property": null
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create a new account",
                "description": "Creates a new bank account for a user with an optional initial balance",
                "operationId": "createAccount",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_uuid",
                                    "name"
                                ],
                                "properties": {
                                    "user_uuid": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "660e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Savings Account"
                                    },
                                    "initial_balance": {
                                        "description": "Initial balance in cents",
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 10000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Account"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Account created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts/{uuid}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account details",
                "description": "Retrieves detailed information about a specific account",
                "operationId": "getAccount",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Account"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete an account",
                "description": "Deletes an account. Account must have zero balance and not be frozen.",
                "operationId": "deleteAccount",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account deletion initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account deletion initiated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Cannot delete account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts/{uuid}/freeze": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Freeze an account",
                "description": "Freezes an account to prevent any transactions",
                "operationId": "freezeAccount",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Suspicious activity detected"
                                    },
                                    "authorized_by": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "admin@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account frozen successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account frozen successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Account already frozen",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts/{uuid}/unfreeze": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Unfreeze an account",
                "description": "Unfreezes a previously frozen account",
                "operationId": "unfreezeAccount",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Investigation completed"
                                    },
                                    "authorized_by": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "admin@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account unfrozen successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account unfrozen successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Account not frozen",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/assets": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "List all supported assets",
                "description": "Get a list of all assets supported by the platform, including fiat currencies, cryptocurrencies, and commodities",
                "operationId": "listAssets",
                "parameters": [
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filter by active status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by asset type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fiat",
                                "crypto",
                                "commodity"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by code or name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "example": "USD"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "US Dollar"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "fiat",
                                                            "crypto",
                                                            "commodity"
                                                        ]
                                                    },
                                                    "symbol": {
                                                        "type": "string",
                                                        "example": "$"
                                                    },
                                                    "precision": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    },
                                                    "metadata": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "active": {
                                                    "type": "integer"
                                                },
                                                "types": {
                                                    "properties": {
                                                        "fiat": {
                                                            "type": "integer"
                                                        },
                                                        "crypto": {
                                                            "type": "integer"
                                                        },
                                                        "commodity": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts/{uuid}/balance": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Get account balance",
                "description": "Retrieves the current balance and turnover information for an account",
                "operationId": "getAccountBalance",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance information retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Balance"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/accounts/{uuid}/balance/summary": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Get account balance summary",
                "description": "Retrieves detailed balance statistics including 12-month turnover data",
                "operationId": "getAccountBalanceSummary",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance summary retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "account_uuid": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "current_balance": {
                                                    "type": "integer",
                                                    "example": 50000
                                                },
                                                "frozen": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "statistics": {
                                                    "properties": {
                                                        "total_debit_12_months": {
                                                            "type": "integer",
                                                            "example": 120000
                                                        },
                                                        "total_credit_12_months": {
                                                            "type": "integer",
                                                            "example": 170000
                                                        },
                                                        "average_monthly_debit": {
                                                            "type": "number",
                                                            "example": 10000
                                                        },
                                                        "average_monthly_credit": {
                                                            "type": "number",
                                                            "example": 14166.67
                                                        },
                                                        "months_analyzed": {
                                                            "type": "integer",
                                                            "example": 12
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "monthly_turnovers": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "month": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "year": {
                                                                "type": "integer",
                                                                "example": 2024
                                                            },
                                                            "debit": {
                                                                "type": "integer",
                                                                "example": 10000
                                                            },
                                                            "credit": {
                                                                "type": "integer",
                                                                "example": 15000
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v2/accounts/{uuid}/baskets/decompose": {
            "post": {
                "tags": [
                    "Basket Operations"
                ],
                "summary": "Decompose basket holdings into component assets",
                "operationId": "decomposeBasket",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "basket_code",
                                    "amount"
                                ],
                                "properties": {
                                    "basket_code": {
                                        "type": "string",
                                        "example": "STABLE_BASKET"
                                    },
                                    "amount": {
                                        "description": "Amount in smallest unit",
                                        "type": "integer",
                                        "example": 10000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Basket decomposed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "basket_code": {
                                            "type": "string"
                                        },
                                        "basket_amount": {
                                            "type": "integer"
                                        },
                                        "components": {
                                            "type": "object"
                                        },
                                        "decomposed_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error or insufficient balance"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/accounts/{uuid}/baskets/compose": {
            "post": {
                "tags": [
                    "Basket Operations"
                ],
                "summary": "Compose component assets into a basket",
                "operationId": "composeBasket",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "basket_code",
                                    "amount"
                                ],
                                "properties": {
                                    "basket_code": {
                                        "type": "string",
                                        "example": "STABLE_BASKET"
                                    },
                                    "amount": {
                                        "description": "Amount of basket to create",
                                        "type": "integer",
                                        "example": 10000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Basket composed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "basket_code": {
                                            "type": "string"
                                        },
                                        "basket_amount": {
                                            "type": "integer"
                                        },
                                        "components_used": {
                                            "type": "object"
                                        },
                                        "composed_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error or insufficient component balances"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/accounts/{uuid}/baskets": {
            "get": {
                "tags": [
                    "Basket Operations"
                ],
                "summary": "Get basket holdings for an account",
                "operationId": "getAccountBaskets",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account basket holdings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "account_uuid": {
                                            "type": "string"
                                        },
                                        "basket_holdings": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "basket_code": {
                                                        "type": "string"
                                                    },
                                                    "basket_name": {
                                                        "type": "string"
                                                    },
                                                    "balance": {
                                                        "type": "integer"
                                                    },
                                                    "unit_value": {
                                                        "type": "number"
                                                    },
                                                    "total_value": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "total_value": {
                                            "type": "number"
                                        },
                                        "currency": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/baskets": {
            "get": {
                "tags": [
                    "Baskets"
                ],
                "summary": "List all basket assets",
                "operationId": "listBaskets",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by basket type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fixed",
                                "dynamic"
                            ]
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filter by active status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of basket assets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BasketAsset"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Create a new basket",
                "operationId": "createBasket",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "components"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "STABLE_BASKET"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Stable Currency Basket"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string",
                                        "default": "fixed",
                                        "enum": [
                                            "fixed",
                                            "dynamic"
                                        ]
                                    },
                                    "rebalance_frequency": {
                                        "type": "string",
                                        "default": "never",
                                        "enum": [
                                            "daily",
                                            "weekly",
                                            "monthly",
                                            "quarterly",
                                            "never"
                                        ]
                                    },
                                    "components": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "asset_code",
                                                "weight"
                                            ],
                                            "properties": {
                                                "asset_code": {
                                                    "type": "string",
                                                    "example": "USD"
                                                },
                                                "weight": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 40
                                                },
                                                "min_weight": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 35
                                                },
                                                "max_weight": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 45
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Basket created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasketAsset"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/baskets/{code}": {
            "get": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Get basket details",
                "operationId": "getBasket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Basket code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Basket details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasketAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Basket not found"
                    }
                }
            }
        },
        "/api/v2/baskets/{code}/value": {
            "get": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Get current basket value",
                "operationId": "getBasketValue",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Basket code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current basket value",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "basket_code": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "number"
                                        },
                                        "calculated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "component_values": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/baskets/{code}/rebalance": {
            "post": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Trigger basket rebalancing",
                "operationId": "rebalanceBasket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Basket code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "simulate",
                        "in": "query",
                        "description": "Simulate rebalancing without executing",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rebalancing result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "basket": {
                                            "type": "string"
                                        },
                                        "adjustments": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/baskets/{code}/history": {
            "get": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Get basket value history",
                "operationId": "getBasketHistory",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Basket code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Number of days of history",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Basket value history"
                    }
                }
            }
        },
        "/api/v2/baskets/{code}/performance": {
            "get": {
                "tags": [
                    "Baskets"
                ],
                "summary": "Get basket performance metrics",
                "operationId": "getBasketPerformance",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Basket code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Performance period",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "30d",
                            "enum": [
                                "1d",
                                "7d",
                                "30d",
                                "90d",
                                "1y"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Basket performance metrics"
                    }
                }
            }
        },
        "/api/exchange-rates/{from}/{to}": {
            "get": {
                "tags": [
                    "Exchange Rates"
                ],
                "summary": "Get current exchange rate",
                "description": "Retrieve the current exchange rate between two assets",
                "operationId": "getExchangeRate",
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "The source asset code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "The target asset code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "EUR"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "from_asset": {
                                                    "type": "string"
                                                },
                                                "to_asset": {
                                                    "type": "string"
                                                },
                                                "rate": {
                                                    "type": "string"
                                                },
                                                "inverse_rate": {
                                                    "type": "string"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "valid_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "expires_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "age_minutes": {
                                                    "type": "integer"
                                                },
                                                "metadata": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exchange rate not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/exchange-rates/{from}/{to}/convert": {
            "get": {
                "tags": [
                    "Exchange Rates"
                ],
                "summary": "Convert amount between assets",
                "description": "Convert an amount from one asset to another using current exchange rates",
                "operationId": "convertCurrency",
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "The source asset code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "The target asset code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "EUR"
                        }
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "The amount to convert (in smallest unit)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "from_asset": {
                                                    "type": "string"
                                                },
                                                "to_asset": {
                                                    "type": "string"
                                                },
                                                "from_amount": {
                                                    "type": "integer"
                                                },
                                                "to_amount": {
                                                    "type": "integer"
                                                },
                                                "from_formatted": {
                                                    "type": "string"
                                                },
                                                "to_formatted": {
                                                    "type": "string"
                                                },
                                                "rate": {
                                                    "type": "string"
                                                },
                                                "rate_age_minutes": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Conversion not available"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/exchange-rates": {
            "get": {
                "tags": [
                    "Exchange Rates"
                ],
                "summary": "List exchange rates",
                "description": "Get a list of available exchange rates with filtering options",
                "operationId": "listExchangeRates",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Filter by source asset code",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Filter by target asset code",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "EUR"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Filter by rate source",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "manual",
                                "api",
                                "oracle",
                                "market"
                            ]
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filter by active status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filter by validity (not expired)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "from_asset": {
                                                        "type": "string"
                                                    },
                                                    "to_asset": {
                                                        "type": "string"
                                                    },
                                                    "rate": {
                                                        "type": "string"
                                                    },
                                                    "inverse_rate": {
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "type": "string"
                                                    },
                                                    "valid_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "expires_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    },
                                                    "age_minutes": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "valid": {
                                                    "type": "integer"
                                                },
                                                "stale": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/polls": {
            "get": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "List all polls",
                "description": "Retrieve a paginated list of polls with optional filtering",
                "operationId": "6e193446b08121fa820e77c1a32e6c5d",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by poll status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "active",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by poll type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "single_choice",
                                "multiple_choice",
                                "weighted_choice",
                                "yes_no",
                                "ranked_choice"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of polls per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of polls",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Poll"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        },
                                        "links": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "Create a new poll",
                "description": "Create a new governance poll",
                "operationId": "cfe7460dbf9e8b80cc0122d588147993",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "type",
                                    "options",
                                    "start_date",
                                    "end_date"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Should we add support for Japanese Yen?"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Proposal to add JPY as supported currency"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "single_choice",
                                            "multiple_choice",
                                            "weighted_choice",
                                            "yes_no",
                                            "ranked_choice"
                                        ]
                                    },
                                    "options": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "label": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "required_participation": {
                                        "type": "integer",
                                        "example": 30
                                    },
                                    "voting_power_strategy": {
                                        "type": "string",
                                        "enum": [
                                            "one_user_one_vote",
                                            "asset_weighted_vote"
                                        ]
                                    },
                                    "execution_workflow": {
                                        "type": "string",
                                        "example": "AddAssetWorkflow"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Poll created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Poll"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/polls/active": {
            "get": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "Get active polls",
                "description": "Retrieve all currently active polls that are available for voting",
                "operationId": "f13be49b1a672f49c8513b45c4d9fe46",
                "responses": {
                    "200": {
                        "description": "List of active polls",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Poll"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/polls/{uuid}": {
            "get": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "Get poll details",
                "description": "Retrieve detailed information about a specific poll",
                "operationId": "4a5d22fa28a78c7c00336312b7e412d6",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Poll details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Poll"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Poll not found"
                    }
                }
            }
        },
        "/api/polls/{uuid}/activate": {
            "post": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "Activate a poll",
                "description": "Activate a draft poll to make it available for voting",
                "operationId": "1f3250511c8a2af8828834d02eda9f57",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Poll activated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Poll"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Poll cannot be activated"
                    },
                    "404": {
                        "description": "Poll not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/polls/{uuid}/vote": {
            "post": {
                "tags": [
                    "Governance - Polls"
                ],
                "summary": "Cast a vote",
                "description": "Cast a vote in an active poll",
                "operationId": "2efbbf8861a1235c1015ed44b7d9b056",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "selected_options"
                                ],
                                "properties": {
                                    "selected_options": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Vote cast successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Vote"
                                        },
[...]
