parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Domain\\Compliance\\Services\\SuspiciousActivityReportService\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Unit/Domain/Compliance/Services/TransactionMonitoringServiceTest.php

		-
			message: '#^Property Tests\\Unit\\Domain\\Compliance\\Services\\TransactionMonitoringServiceTest\:\:\$riskService \(App\\Domain\\Compliance\\Services\\CustomerRiskService\) does not accept Mockery\\MockInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Unit/Domain/Compliance/Services/TransactionMonitoringServiceTest.php

		-
			message: '#^Property Tests\\Unit\\Domain\\Compliance\\Services\\TransactionMonitoringServiceTest\:\:\$sarService \(App\\Domain\\Compliance\\Services\\SuspiciousActivityReportService\) does not accept Mockery\\MockInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Unit/Domain/Compliance/Services/TransactionMonitoringServiceTest.php
