parameters:
	ignoreErrors:
		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 5
			path: app/Domain/AgentProtocol/Services/FraudDetectionService.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: app/Domain/AgentProtocol/Services/FraudDetectionService.php
